@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
}

@-webkit-keyframes menuOpening {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}

@keyframes menuOpening {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
.left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 24%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px 0 0 50px;
  padding: 50px 0;
}
.left-section__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}
.left-section__logo-container__logo {
  width: 80%;
}
.left-section__logo-container__title {
  width: 100%;
  text-align: center;
  font-size: 2.6rem;
  color: #7500AF;
}
.left-section__logo-container__title__right {
  font-size: 2.6rem;
  color: #000000;
}
.left-section__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.left-section__menu-container__logo {
  display: none;
}
.left-section__menu-container__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 2rem;
  text-align: center;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 2px white;
          box-shadow: 0px 0px 2px white;
}
.left-section__menu-container__list-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  color: #7500AF;
}
.left-section__menu-container__list-item__content:hover, .left-section__menu-container__list-item__content:active {
  border-radius: 2rem;
  background: #7500AF;
  -webkit-box-shadow: 0px 0px 2px #7500AF;
          box-shadow: 0px 0px 2px #7500AF;
  color: white;
}
.left-section__hamburger {
  width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  position: absolute;
  display: none;
  right: 10px;
  top: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out;
}
.left-section__hamburger__line {
  position: absolute;
  width: 100%;
  display: block;
  background: #7500AF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.left-section__hamburger__line:nth-of-type(1) {
  left: 0px;
}
.left-section__hamburger__line:nth-of-type(2) {
  left: 10px;
}
.left-section__hamburger__line:nth-of-type(3) {
  left: 20px;
}
.left-section__quotation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.left-section__quotation-container__top, .left-section__quotation-container__bottom {
  color: #7500AF;
  font-family: "Cookie", cursive;
  display: block;
  font-size: 3rem;
}

@media (max-width: 1400px) {
  .left-section__logo-container__title {
    font-size: 2.2rem;
  }
  .left-section__logo-container__title__right {
    font-size: 2.2rem;
  }

  .left-section__menu-container__list-item {
    margin-bottom: 0.8rem;
    width: 90%;
  }
  .left-section__menu-container__list-item__content {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .left-section__quotation-container__top, .left-section__quotation-container__bottom {
    font-size: 2.6rem;
  }
}
@media (max-width: 1200px) {
  .left-section__logo-container__title {
    font-size: 1.9rem;
  }
  .left-section__logo-container__title__right {
    font-size: 1.9rem;
  }

  .left-section__menu-container__list-item {
    margin-bottom: 0.7rem;
    width: 90%;
  }
  .left-section__menu-container__list-item__content {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .left-section__quotation-container__top, .left-section__quotation-container__bottom {
    font-size: 2.4rem;
  }
}
@media (max-width: 1000px) {
  .left-section__logo-container__title {
    font-size: 1.6rem;
  }
  .left-section__logo-container__title__right {
    font-size: 1.6rem;
  }

  .left-section__menu-container__list-item {
    margin-bottom: 0.7rem;
    width: 90%;
  }
  .left-section__menu-container__list-item__content {
    padding: 0.5rem;
    font-size: 0.6rem;
  }

  .left-section__quotation-container__top, .left-section__quotation-container__bottom {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .left-section {
    border-radius: 0;
    border: none;
    padding: 15px 0;
    width: 100%;
    height: 150px;
  }
  .left-section__logo-container__logo {
    width: 80px;
  }
  .left-section__logo-container__title {
    font-size: 1.6rem;
  }
  .left-section__logo-container__title > * {
    font-size: 1.6rem;
  }
  .left-section__menu-container {
    display: none;
    height: 100%;
    width: 200px;
    position: absolute;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 0;
    right: -200px;
    z-index: 5;
    background-color: #8e2ebe;
    padding: 15px;
    padding-top: 58px;
    -webkit-animation: menuOpening 0.3s ease-out forwards;
            animation: menuOpening 0.3s ease-out forwards;
  }
  .left-section__menu-container__logo {
    display: block;
    position: absolute;
    bottom: 40px;
  }
  .left-section__menu-container__logo > * {
    width: 80px;
  }
  .left-section__menu-container__list-item {
    width: 80%;
    background: transparent;
    margin-bottom: 20px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .left-section__menu-container__list-item__content {
    color: white;
    background: transparent;
    font-size: 0.9rem;
  }
  .left-section__menu-container__list-item:last-of-type {
    margin-bottom: 0;
  }
  .left-section__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9;
  }
  .left-section__quotation-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.3;
  }
  .left-section__quotation-container__top, .left-section__quotation-container__bottom {
    font-size: 9rem;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .left-section {
    height: 120px;
  }
  .left-section__logo-container__logo {
    width: 65px;
  }
  .left-section__logo-container__title {
    font-size: 1.4rem;
  }
  .left-section__logo-container__title > * {
    font-size: 1.4rem;
  }
  .left-section__hamburger {
    right: 10px;
  }
  .left-section__quotation-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.3;
  }
  .left-section__quotation-container__top, .left-section__quotation-container__bottom {
    font-size: 6rem;
    width: 100%;
  }
}
/*# sourceMappingURL=left.css.map */