// IMPORTS

@forward '../../../styles/config/config';
@use '../../../styles/config/config' as *;


// STYLES

.left-section {
  @include flexSetup(column, center, space-between);
  width: 24%;
  height: 100%;
  background: $left-section-background;
  border-radius: 50px 0 0 50px;
  padding: 50px 0;

  &__logo-container {
    @include flexSetup(column, center, space-between);
    cursor: pointer;
    width: 55%;

    &__logo {
      width: 80%;
    }

    &__title {
      width: 100%;
      text-align: center;
      font-size: 2.6rem;
      color: $purple-color;

      &__right {
        font-size: 2.6rem;
        color: $black-color;
      }
    }
  }

  &__menu-container {
    @include flexSetup(column, center, center);
    width: 50%;

    &__logo {
      display: none;
    }

    &__list-item {
      @include flexSetup(column, center, center);
      width: 100%;
      margin-bottom: 0.8rem;
      border-radius: 2rem;
      text-align: center;
      list-style-type: none;
      background: $menu-button;
      box-shadow: 0px 0px 2px white;

      &__content {
        @include flexSetup(column, center, center);
        width: 100%;
        height: 100%;
        padding: 0.6rem;
        font-size: 1rem;
        color: $purple-color;

        &:hover, &:active {
          border-radius: 2rem;
          background: $purple-color;
          box-shadow: 0px 0px 2px $purple-color;
          color: white;
        }
      }
    }
  }

  &__account {
    @include flexSetup(row, center, center);
    position: absolute;
    left: 10px;
    top: 15px;
    width: 30px;
    height: 30px;
    background: transparent;
    color: $gray-color;
    z-index: 1;
    cursor: pointer;

    &--logged {
      color: $purple-color;
    }

    &__icon {
      font-size: 1.3rem;
    }
  }

  &__hamburger {
    width: 28px;
    height: 28px;
    border: none;
    background: transparent;
    position: absolute;
    display: none;
    right: 10px;
    top: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: right 0.3s ease-out;
    z-index: 1;

    &__line {
      position: absolute;
      width: 100%;
      display: block;
      background: $purple-color;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transition: 0.2s ease;

      &:nth-of-type(1) {
        left: 0px;
      }

      &:nth-of-type(2) {
        left: 10px;
      }

      &:nth-of-type(3) { 
        left: 20px;
      }
    }
  }

  &__quotation-container {
    @include flexSetup(column, flex-end, flex-end);
    
    &__top, &__bottom {
      color: $purple-color;
      font-family: 'Cookie', cursive;
      display: block;
      font-size: 3rem;
    }
  }
}


// MEDIA QUERIES

@media (max-width: 1400px) {
  .left-section__logo-container__title {
    font-size: 2.2rem;
    &__right {
      font-size: 2.2rem;
    }
  }
  .left-section__menu-container__list-item {
    margin-bottom: 0.8rem;
    width: 90%;

    &__content {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }
  .left-section__quotation-container {
    &__top, &__bottom {
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 1200px) {
  .left-section__logo-container__title {
    font-size: 1.9rem;
    &__right {
      font-size: 1.9rem;
    }
  }
  .left-section__menu-container__list-item {
    margin-bottom: 0.7rem;
    width: 90%;

    &__content {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }
  .left-section__quotation-container {
    &__top, &__bottom {
      font-size: 2.4rem;
    }
  }
}

@media (max-width: 1000px) {
  .left-section__logo-container__title {
    font-size: 1.6rem;
    &__right {
      font-size: 1.6rem;
    }
  }
  .left-section__menu-container__list-item {
    margin-bottom: 0.7rem;
    width: 90%;

    &__content {
      padding: 0.5rem;
      font-size: 0.6rem;
    }
  }
  .left-section__quotation-container {
    &__top, &__bottom {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 768px) {
  .left-section {
    border-radius: 0;
    border: none;
    padding: 15px 0;
    width: 100%;
    height: 120px;

    &__logo-container {
      &__logo {
        width: 60px;
      }
      
      &__title {
        font-size: 1.5rem;

        & > * {
          font-size: 1.5rem;
        }
      }
    }

    &__menu-container, &__account-container {
      display: none;
      height: 100%;
      width: 50%;
      position: absolute;
      justify-content: flex-start;
      top: 0;
      right: 0;
      z-index: 5;
      background-color: $purple-color2;
      padding: 15px;
      padding-top: 58px;

      &__closer {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent;
      }

      &__logo {
        display: block;
        position: absolute;
        bottom: 40px;

        & > * {
          width: 80px;
        }
      }
  
      &__list-item {
        width: 80%;
        background: transparent;
        margin-bottom: 20px;
        border: none;
        box-shadow: none;

        &__content {
          color: white;
          background: transparent;
          font-size: 0.9rem;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &__hamburger { 
      display: flex;
      position: absolute;
      z-index: 9;
    }

    &__quotation-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.3;

      &__top, &__bottom {
        font-size: 9rem;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .left-section {
    height: 100px;

    &__logo-container {
      &__logo {
        width: 50px;
      }
      &__title {
        font-size: 1.2rem;
        & > * {
          font-size: 1.2rem;
        }
      }
    }

    &__hamburger {
      right: 10px;
    }

    &__quotation-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.3;

      &__top, &__bottom {
        font-size: 6rem;
        width: 100%;
      }
    }
  }
}