@forward '../../../styles/config/config';
//@forward '../styles/media_queries/media';
@use '../../../styles/config/config' as *;


.removing-window, .removing-window__confirm {
  @include flexSetup(column, flex-start, flex-start);
  z-index: 5;
  width: 600px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white-color;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 1px 1px 5px $gray-color;
  transition: 0.3s ease-out;

  &__confirm {
    width: 300px;
    position: absolute;
    top: 5%;
    z-index: 6;

    &__subtitle {
      border-top: 2px solid gray;
      padding-top: 20px;
      font-size: 1.1rem;
      color: $black-color;
      @include flexSetup(row, flex-start, flex-start);
    }
  }
  
  &__title {
    margin-bottom: 25px;
    color: $purple-color;
    font-size: 1.8rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    line-height: 1;
  }

  &__main {
    @include flexSetup(column, flex-start, flex-start);
    width: 100%;

    &__list {
      @include flexSetup(column, flex-start, flex-start);
      width: 100%;
      max-height: 300px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }

      &--heading {
        border: none;
        border-top: 2px solid $gray-color;
        overflow: hidden;
      }

      &__wrapper {
        @include flexSetup(row, center, space-between);
        width: 100%;
      }

      &__item {
        cursor: pointer;
        @include flexSetup(column, flex-start, flex-start);
        width: 100%;
        padding: 8px 20px;
        color: $gray-color;
        border-radius: 30px;
        border: 2px solid $purple-color;
        margin: 3px 0;

        & > * {
          font-size: 1rem;
        }

        &--heading {
          cursor: default;
          margin: 20px 0 12px 0;
          background: $purple-color;
          color: white;
          border-radius: 30px;
        }

        &__name {
          width: 40%;
          color: black;
          
          &--exercises {
            width: 55%;
          }
        }

        &__weight {
          font-size: 0.8rem;    
        }

        &__nutrition-facts {
          @include flexSetup(row, center, flex-start);
          width: 35%;

          & > * {
            @include flexSetup(row, center, flex-start);
            width: calc(100% / 3);
            font-size: 1rem;
          }
        }

        &__calories {
          @include flexSetup(row, center, flex-end);
          width: 20%;
          padding-right: 10px;
        }
      }

      &__buttons-section, &__buttons-section--more {
        margin-top: 20px;
        width: 100%;
        border-top: 2px solid $gray-color;
        @include flexSetup(row, flex-end, space-between);
        padding-top: 20px;

        &--more {
          justify-content: flex-end;
        }

        &__secondary {
          cursor: pointer;
          background: $white-color;
          color: $purple-color;
          padding: 8px 15px;
          border-radius: 15px;
          @extend %robotoNormal;
          font-size: 1.2rem;
          box-shadow: 0 0 3px $gray-color;
        }
    
        &__primary, &__primary--disabled, &__primary--back {
          cursor: pointer;
          background: $purple-color;
          color: $white-color;
          margin-left: 10px;
          padding: 8px 15px;
          @extend %robotoNormal;
          font-size: 1.2rem;
          border-radius: 15px;
          box-shadow: 0 0 3px $gray-color;

          &--disabled {
            cursor: default;
            opacity: 0.4;
            box-shadow: 0 0 2px $black-color;
          }
          &--back {
            margin-left: 0;
          }
        }

        &__tertiary {
          cursor: pointer;
          background: $white-color;
          border: 1px solid $purple-color;
          color: black;
          padding: 8px 12px;
          border-radius: 15px;
          @extend %robotoNormal;
          font-size: 1.2rem;
        }
      }
    }
  }
}