// IMPORTS

@forward '../../../styles/config/config';
@use '../../../styles/config/config' as *;


// STYLES

.window {
  @include flexSetup(column, flex-start, flex-start);
  z-index: 99;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $white-color;
  border-right: none;
  border-radius: 25px;
  box-shadow: 1px 1px 3px $white-color;
  overflow-y: scroll;
  max-height: 650px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: filter 0.5s ease-out;
  background-color: rgba(255,255,255, 0.3);

  &::-webkit-scrollbar {
    display: none;
  }
  
  &--login, &--logout, &--forgotpassword {
    width: 300px;
  }

  &--forgotpassword {
    z-index: 100;
  }

  &__header {
    @include flexSetup(column, flex-start, flex-start);
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 20px;
    border-radius: 25px 25px 0 0;
    background-color: rgba(255,255,255, 0.9);

    &__heading {
      color: $purple-color;
      font-size: 1.6rem;
      font-family: 'Segoe UI', sans-serif;
      font-weight: 700;
    }

    &__back-button, &__add-button {
      position: absolute;
      cursor: pointer;
      display: none;
      width: 1.4rem;
      top: 20px;
      background: transparent;

      & > * {
        width: 100%;
        height: auto;
        color: $white-color;
      }
    }

    &__back-button {
      left: 20px;
    }

    &__add-button {
      right: 20px;
      
      &--disabled {
        opacity: 0.5;
        cursor: auto;

      }
    }

    &__switch {
      @include flexSetup(row, center, space-around);
      border-radius: 25px;
      border: 1px solid $purple-color;
      background: white;
      margin-top: 20px;
      cursor: pointer;

      &__left, &__center, &__right {
        color: $gray-color;
        padding: 8px 24px;
        font-size: 1rem;

        &--selected {
          color: $white-color;
          background: $purple-color;
          border-radius: 30px;
        }
      }

      &__center, &__right {
        margin-left: -10px;
      }
    }
  }

  &__form {
    width: 100%;
  }

  &__main {
    @include flexSetup(column, flex-start, flex-end);
    width: 100%;
    padding: 20px;
    z-index: 9;
    
    &--add, &--list {
      padding: 0;
    }

    &__input-line {
      position: relative;
      @include flexSetup(column, flex-start, flex-start);
      width: 100%;
      margin-bottom: 12px;
      
      &__label {
        margin-left: 17px;
        margin-bottom: 3px;
        font-size: 0.9rem;
        color: $black-color;

        &--checkbox {
          width: 100%;
          margin-bottom: 0;
        }
      }

      &__input {
        width: 100%;
        padding: 10px 15px;
        border: 2px solid $purple-color;
        border-radius: 25px;
        font-size: 1.1rem;
        color: $black-color;
        background: $white-color;
        font-weight: 400;
        height: 47px;

        &--unchanging {
          color: $gray-color;
        }
      }

      &__checkbox {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 2px solid $purple-color;
        border-radius: 50%;
        display: block;
        position: absolute;
        background: white;
        right: 0;

        &__background {
          position: absolute;
          border-radius: 50%;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
        }
      }

      &__unit {
        position: absolute;
        border-radius: 0 30px 30px 0;
        padding-right: 3px;
        width: 50px;
        @include flexSetup(row, center, center);
        color: $white-color;
        right: 0;
        bottom: 0;
        height: 47px;
        background: $purple-color;
        font-size: 0.8rem;
      }

      &__link {
        margin-left: 17px;
        font-size: 0.9rem;
        color: $purple-color;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__message {
      padding: 0 0 20px 0;
      font-size: 1.1rem;
    }

    &__login-options {
      @include flexSetup(column, flex-end, flex-end);
      width: 100%;
      margin-top: 40px;

      &__line {
        font-size: 0.8rem;
        color: $black-color;

        &__link {
          font-size: 0.8rem;
          color: $purple-color;
        } 
      }
    }

    &__section {
      @include flexSetup(column, flex-start, flex-start);
      margin-bottom: 20px;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }

      &--form {
        padding: 0 20px;
        margin-bottom: 40px;
        
        &:first-of-type {
          padding-top: 20px;
        }

        &:last-of-type {
          margin-bottom: 40px;
        }
      }

      &--halfed {
        flex-direction: row;
        margin-bottom: 40px;
      }

      &__split-left, &__split-right {
        @include flexSetup(column, center, center);
        width: 50%;
      }

      &__title {
        @include flexSetup(row, flex-start, flex-start);
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: $purple-color;
        font-weight: bold;
      }

      &__text {
        font-size: 1rem;
        color: $black-color;
        line-height: 1.7;
      }

      &__logo {
        height: 80px;
        width: auto;
        margin: 0 auto;
      }

      &__list {
        @include flexSetup(column, center, center);
      
        &__item {
          list-style-type: none;
        }
      }

      &__large-list {
        @include flexSetup(column, center, flex-start);
        padding: 0 20px;
        width: 100%;

        &__wrapper {
          @include flexSetup(row, center, flex-start);
          width: 100%;
        }

        &__item {
          cursor: pointer;
          @include flexSetup(column, flex-start, flex-start);
          width: 100%;
          padding: 8px 20px;
          color: $gray-color;
          border-radius: 30px;
          border: 2px solid $purple-color;
          position: relative;
          margin-bottom: 5px;
          background: $white-color;

          &:last-of-type {
            margin-bottom: 20px;
          }

          & > * {
            font-size: 1rem;
          }

          &--heading {
            cursor: default;
            margin-top: 20px;
            background: $purple-color;
            color: white;
            border-radius: 30px;
          }

          &__name {
            width: 50%;
            color: black;
          }

          &__weight {
            margin-top: 3px;
            font-size: 0.8rem;    
          }

          &__nutrition-facts {
            @include flexSetup(row, center, flex-start);
            width: 35%;

            & > * {
              @include flexSetup(row, center, flex-start);
              width: calc(100% / 3);
              font-size: 1rem;
            }
            
            &__weight {
              width: 100%;
            }
          }

          &__calories {
            @include flexSetup(row, center, flex-end);
            width: 20%;
          }
        }

        &--heading {
          overflow: hidden;
        }
      }

      &__iframe {
        transition: 0.3s ease;
        opacity: 0;
      }
    }
  }

  &__bottom {
    @include flexSetup(row, center, space-between);
    width: 100%;
    padding: 20px;
    border-radius: 0 0 25px 25px;
    background-color: $purple-color;

    &__primary-button,
    &__secondary-button,
    &__tertiary-button {
      cursor: pointer;
      padding: 8px 20px;
      border-radius: 12px;
      @extend %robotoNormal;
      font-size: 1.1rem;

      &--disabled {
        cursor: default;
        opacity: 0.6;
        filter: brightness(80%);   
      }
    }
    
    &__primary-button {
      background: $white-color;
      color: $black-color;
      box-shadow: 0 0 3px $white-color;
      margin-left: 10px;
      
      &--disabled {
        color: $gray-color;
      }
    }

    &__secondary-button {
      background: $purple-color2;
      color: $white-color;
      box-shadow: 0 0 3px $purple-color2;
    }

    &__tertiary-button {
      background: $purple-color;
      color: $white-color;
      border: 1px solid $purple-color2;
    }
  }
}


// MEDIA QUERIES

@media (max-width: 768px) {
  .window {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
    min-width: 360px;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    display: block;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    transition: none;

    &--login, &--logout {
      width: 100%;
    }

    &__header {
      justify-content: center;
      align-items: center;
      background: $purple-color;
      border-radius: 0px;
      border-bottom: 2px solid $white-color;

      &__heading {
        font-size: 1.1rem;
        color: $white-color;
        line-height: 1.1;
      }

      &__back-button, &__add-button {
        display: flex;
      }

      &__switch {
        border: none;
        background: $purple-color2;

        &__left, &__center, &__right {
          color: $white-color;
          padding: 8px 16px;
          font-size: 0.9rem;
  
          &--selected {
            color: $purple-color;
            background: $white-color;
          }
        }
      }
    }
    &__form {
      min-height: calc(100vh - 125px);
      min-height: calc(calc(var(--vh, 1vh) * 100) - 125px);
    }

    &__main {
      height: 100%;
      &__input-line {
        &__input {
          font-size: 1rem;
        }
      }

      &__section {
        &--halfed {
          flex-direction: column;
          margin-top: 20px;
        }

        &__split-left, &__split-right {
          width: 100%;
        }

        &__split-left {
          margin-bottom: 40px;
        }

        &__large-list {
          &__item {

            &__name, &__weight, &__calories {
              font-size: 0.7rem;
            }

            &__nutrition-facts {
              & > * {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }

    &__bottom {
      display: none;
    }
  }
}