@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.window__bottom__primary-button, .window__bottom__secondary-button, .window__bottom__tertiary-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
}

.window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 8;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  border-right: none;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 3px #FFFFFF;
          box-shadow: 1px 1px 3px #FFFFFF;
  overflow-y: scroll;
  max-height: 650px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-transition: -webkit-filter 0.5s ease-out;
  transition: -webkit-filter 0.5s ease-out;
  transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0.3);
}
.window::-webkit-scrollbar {
  display: none;
}
.window--login, .window--logout {
  width: 300px;
}
.window__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 20px;
  border-radius: 25px 25px 0 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.window__header__heading {
  color: #7500AF;
  font-size: 1.6rem;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
}
.window__header__back-button, .window__header__add-button {
  position: absolute;
  z-index: -1;
  width: 1.6rem;
  top: 20px;
  background: transparent;
}
.window__header__back-button > *, .window__header__add-button > * {
  width: 100%;
  height: auto;
  color: #FFFFFF;
}
.window__header__back-button {
  left: 20px;
}
.window__header__add-button {
  right: 20px;
}
.window__header__add-button--disabled {
  opacity: 0.5;
}
.window__header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 25px;
  border: 1px solid #7500AF;
  background: white;
  margin-top: 20px;
  cursor: pointer;
}
.window__header__switch__left, .window__header__switch__right {
  color: #707070;
  padding: 8px 24px;
  font-size: 1rem;
}
.window__header__switch__left--selected, .window__header__switch__right--selected {
  color: #FFFFFF;
  background: #7500AF;
  border-radius: 30px;
}
.window__header__switch__right {
  margin-left: -10px;
}
.window__form {
  width: 100%;
}
.window__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 20px;
  z-index: 10;
}
.window__main--add, .window__main--list {
  padding: 0;
}
.window__main__input-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px;
}
.window__main__input-line__label {
  margin-left: 17px;
  margin-bottom: 3px;
  font-size: 0.9rem;
  color: #707070;
}
.window__main__input-line__input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #7500AF;
  border-radius: 25px;
  font-size: 1.1rem;
  color: #000000;
  background: #FFFFFF;
  font-weight: 600;
}
.window__main__input-line__unit {
  position: absolute;
  border-radius: 0 30px 30px 0;
  padding-right: 3px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  right: 0;
  bottom: 1px;
  height: calc(30px + 0.9rem);
  background: #7500AF;
  font-size: 0.8rem;
}
.window__main__input-line__link {
  margin-left: 17px;
  font-size: 0.9rem;
  color: #7500AF;
}
.window__main__input-line:last-of-type {
  margin-bottom: 0;
}
.window__main__message {
  padding: 0 0 20px 0;
  font-size: 1.1rem;
}
.window__main__login-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
}
.window__main__login-options__line {
  font-size: 0.8rem;
  color: #000000;
}
.window__main__login-options__line__link {
  font-size: 0.8rem;
  color: #7500AF;
}
.window__main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
.window__main__section:last-of-type {
  margin-bottom: 0;
}
.window__main__section--form {
  padding: 0 20px;
  margin-bottom: 40px;
}
.window__main__section--form:first-of-type {
  padding-top: 20px;
}
.window__main__section--form:last-of-type {
  margin-bottom: 40px;
}
.window__main__section--halfed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}
.window__main__section__split-left, .window__main__section__split-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.window__main__section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #7500AF;
  font-weight: bold;
}
.window__main__section__text {
  font-size: 1rem;
  color: #000000;
  line-height: 1.7;
}
.window__main__section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.window__main__section__list__item {
  list-style-type: none;
}
.window__main__section__large-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 20px;
  width: 100%;
}
.window__main__section__large-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.window__main__section__large-list__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 8px 20px;
  color: #707070;
  border-radius: 30px;
  border: 2px solid #7500AF;
  position: relative;
  margin-bottom: 5px;
  background: #FFFFFF;
}
.window__main__section__large-list__item:last-of-type {
  margin-bottom: 20px;
}
.window__main__section__large-list__item > * {
  font-size: 1rem;
}
.window__main__section__large-list__item--heading {
  cursor: default;
  margin-top: 20px;
  background: #7500AF;
  color: white;
  border-radius: 30px;
}
.window__main__section__large-list__item__name {
  width: 50%;
  color: black;
}
.window__main__section__large-list__item__weight {
  margin-top: 3px;
  font-size: 0.8rem;
}
.window__main__section__large-list__item__nutrition-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 35%;
}
.window__main__section__large-list__item__nutrition-facts > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(100% / 3);
  font-size: 1rem;
}
.window__main__section__large-list__item__nutrition-facts__weight {
  width: 100%;
}
.window__main__section__large-list__item__calories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
}
.window__main__section__large-list--heading {
  overflow: hidden;
}
.window__main__section__iframe {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}
.window__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 25px 25px;
  background-color: #7500AF;
}
.window__bottom__primary-button, .window__bottom__secondary-button, .window__bottom__tertiary-button {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 1.1rem;
}
.window__bottom__primary-button--disabled, .window__bottom__secondary-button--disabled, .window__bottom__tertiary-button--disabled {
  cursor: default;
  opacity: 0.6;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.window__bottom__primary-button {
  background: #FFFFFF;
  color: #000000;
  -webkit-box-shadow: 0 0 3px #FFFFFF;
          box-shadow: 0 0 3px #FFFFFF;
  margin-left: 10px;
}
.window__bottom__primary-button--disabled {
  color: #707070;
}
.window__bottom__secondary-button {
  background: #8e2ebe;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 3px #8e2ebe;
          box-shadow: 0 0 3px #8e2ebe;
}
.window__bottom__tertiary-button {
  background: #7500AF;
  color: #FFFFFF;
  border: 1px solid #8e2ebe;
}

@media (max-width: 768px) {
  .window {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 360px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: block;
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
  }
  .window--login, .window--logout {
    width: 100%;
  }
  .window__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #7500AF;
    border-radius: 0px;
    border-bottom: 2px solid #FFFFFF;
  }
  .window__header__heading {
    font-size: 1.3rem;
    color: #FFFFFF;
  }
  .window__header__back-button, .window__header__add-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
  }
  .window__header__switch {
    border: none;
    background: #8e2ebe;
  }
  .window__header__switch__left, .window__header__switch__right {
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  .window__header__switch__left--selected, .window__header__switch__right--selected {
    color: #7500AF;
    background: #FFFFFF;
  }
  .window__form {
    min-height: calc(100vh - 125px);
  }
  .window__main {
    height: 100%;
  }
  .window__main__section--halfed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .window__main__section__split-left, .window__main__section__split-right {
    width: 100%;
  }
  .window__main__section__split-left {
    margin-bottom: 40px;
  }
  .window__bottom {
    display: none;
  }
}
/*# sourceMappingURL=window.css.map */