// IMPORTS

@forward '../config/config';
@use '../config/config' as *;


// STYLES

body {
  background: $background;
  backdrop-filter: blur(20px);
}
.wrapper {
  @include flexSetup(row, flex-start, center);
  width: 80%;
  height: 100vh;
}