// IMPORTS

@forward '../config/config';
@use '../config/config' as *;


// STYLES

html {
  min-height: 600px;
  min-width: 360px;
}

body {
  background: $background;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(20px);
  user-select: none;
  min-width: 360px;
}

#root {
  @include flexSetup(row, center, center);
  transition: filter 0.5s ease-out;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  min-width: 360px;
}

.wrapper {
  display: flex;
  width: 1350px;
  height: 800px;
  position: relative;
  background: transparent;
  transition: filter 0.5s ease-out;
}


// MEDIA QUERIES

@media (max-width: 1300px) {
  #root {
    min-height: 700px;
  }

  .wrapper {
    width: 1200px;
    height: 700px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    width: 1000px;
    height: 600px;
  }
}

@media (max-width: 900px) {
  #root {
    min-height: 550px;
  }

  .wrapper {
    width: 800px;
    height: 550px;
  }
}

@media (max-width: 768px) {
  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  .wrapper {
    width: 100%;
    flex-direction: column;
    min-height: 100%;
    min-width: 360px;
  }
}