@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
}

@-webkit-keyframes gaugeAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes gaugeAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.gauge-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 20px;
  border-radius: 50%;
  background: #7500AF;
}
.gauge-container:before {
  content: "";
  display: block;
  width: 102px;
  height: 102px;
  position: absolute;
  bottom: -11%;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #7500AF;
}
.gauge-container__bar {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 200px;
  height: 200px;
  border: 28.5714285714px solid;
  border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  -webkit-animation-name: gaugeAnimation;
          animation-name: gaugeAnimation;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.gauge-container__text {
  position: absolute;
  z-index: 3;
  top: 28.5714285714px;
  margin-top: 8px;
}
.gauge-container__text > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}
.gauge-container__text__amount {
  font-size: 40px;
  color: #FFFFFF;
  padding-bottom: 0;
}
.gauge-container__text__name {
  font-size: 14.2857142857px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.gauge-container__text__percent {
  font-size: 14.2857142857px;
  color: rgba(255, 255, 255, 0.5);
}
.gauge-container__text__left {
  font-size: 20px;
  color: #FFFFFF;
}
/*# sourceMappingURL=right.css.map */