@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.meal__top-section__meal-title, .meal__products-section__product__info__title, .meal__products-section__product__info__weight {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.meal__top-section__meal-stats-list__item, .meal__products-section__product__stats-list__item, .meal__buttons-section__remove-button, .meal__buttons-section__add-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 30px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 5px #707070;
          box-shadow: 1px 1px 5px #707070;
  cursor: pointer;
}
.meal__adding-window, .meal__removing-window {
  z-index: 5;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  background-color: black;
}
.meal__removing-window {
  background: blue;
}
.meal:last-of-type {
  margin-bottom: 0;
}
.meal__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.meal__top-section__meal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #7500AF;
  font-size: 1.5rem;
  width: 30%;
}
.meal__top-section__meal-stats-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  width: 70%;
}
.meal__top-section__meal-stats-list__item {
  margin-left: 15px;
  font-size: 1.5rem;
}
.meal__top-section__meal-stats-list__item--kcal {
  margin-left: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #7500AF;
}
.meal__products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(100% - 40px);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 20px;
  padding: 10px 0;
}
.meal__products-section__product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.meal__products-section__product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.meal__products-section__product__info__title {
  font-size: 1.1rem;
  color: #707070;
}
.meal__products-section__product__info__weight {
  letter-spacing: -1px;
  color: #707070;
  font-size: 0.9rem;
}
.meal__products-section__product__stats-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
}
.meal__products-section__product__stats-list__item {
  margin-left: 10px;
  font-size: 1.2rem;
}
.meal__products-section__product__stats-list__item--kcal {
  margin-left: 15px;
  font-weight: 700;
}
.meal__buttons-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(100% - 40px);
  margin: 20px;
}
.meal__buttons-section__remove-button {
  background: #FFFFFF;
  color: #7500AF;
  padding: 8px;
  border-radius: 15px;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 3px #707070;
          box-shadow: 0 0 3px #707070;
}
.meal__buttons-section__add-button {
  background: #7500AF;
  color: #FFFFFF;
  margin-left: 10px;
  padding: 8px 15px;
  font-size: 1.2rem;
  border-radius: 15px;
}
/*# sourceMappingURL=meal.css.map */