@forward '../../../styles/config/config';
@use '../../../styles/config/config' as *;

.meal {
  @include flexSetup(column, flex-start, center);
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 30px;
  transition: 0.2s linear;
  background: $white-color;
  box-shadow: 1px 1px 5px $gray-color;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__top-section {
    @include flexSetup(row, center, space-between);
    width: 100%;
    padding: 20px;

    &__meal-title {
      @include flexSetup(row, center, flex-start);
      color: $purple-color;
      @extend %robotoBold;
      font-size: 1.5rem;
      width: 30%;
    }

    &__meal-stats-list {
      @include flexSetup(row, center, flex-end);
      list-style-type: none;
      width: 70%;

      &__item {
        margin-left: 15px;
        font-size: 1.5rem;
        @extend %robotoNormal;

        &--kcal {
          margin-left: 30px;
          font-size: 1.5rem;
          font-weight: 700;
          color: $purple-color;
        }
      }
    }
  }

  &__products-section {
    @include flexSetup(column, flex-start, flex-start);
    width: calc(100% - 40px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 20px;
    padding: 10px 0;

    &__product {
      width: 100%;
      @include flexSetup(row, flex-start, space-between);
      margin-bottom: 10px;

      &__info {
        @include flexSetup(column, flex-start, flex-start);
  
        &__title {
          @extend %robotoBold;
          font-size: 1.1rem;
          color: $gray-color;
        }
  
        &__weight {
          @extend %robotoBold;
          letter-spacing: -1px;
          color: $gray-color;
          font-size: 0.9rem;
        }
      }
  
      &__stats-list {
        @include flexSetup(row, flex-start, flex-start);
        list-style-type: none;
  
        &__item {
          margin-left: 10px;
          @extend %robotoNormal;
          font-size: 1.2rem;
        
          &--kcal {
            margin-left: 15px;
            font-weight: 700;
          }
        }
      }
    }
  }

  &__buttons-section {
    @include flexSetup(row, center, flex-end);
    width: calc(100% - 40px);
    margin: 20px;

    &__remove-button {
      background: $white-color;
      color: $purple-color;
      padding: 8px;
      border-radius: 15px;
      @extend %robotoNormal;
      font-size: 1.2rem;
      box-shadow: 0 0 3px $gray-color;
    }

    &__add-button {
      background: $purple-color;
      color: $white-color;
      margin-left: 10px;
      padding: 8px 15px;
      @extend %robotoNormal;
      font-size: 1.2rem;
      border-radius: 15px;
    }
  }
}
